body{
        background-color: white;
        display:flex;
        align-items:center;
        justify-content:center;
        height:600px;
        border:1px solid:black;
        border-radius:20px;
      }
.calculate{
        background-color:pink;
        border-radius:10px;
        width:200px;
        padding:50px;
        border-style:dashed;
      }
.display{
        background-color:grey;
        color:white;
        padding:10px;
        text-align:right;
        border-radius:5px;
        margin-bottom:20px;
        font-size:32px;
        height:50px;
        width:170px;
        overflow:hidden;
      }
.button{
        gap:20px;
      }
button{
        font-size:15px;
        padding:15px;
        border-radius:20px;
        color:#fff;
        background-color:#333;
      }
button:hover{
          background-color:#444;
      }
.operator{
        background-color:#ff9500;   
      }
.operator:hover{
          background-color:#e08900;
      }
.equal{
          background-color:#34c759;
      }
.equal:hover{
          background-color:#28a745;
      }
.clear{
          background-color:#ff3b30;
      }
.clear:hover{
          background-color:#e02e25;
      }